:root {
    --vip-name-color: white;

    --sidebar-bg-color: #0e1621;
    --sidebar-selected-bg-color: #17212b;
    --sidebar-width: 65px;
    --sidebar-zoom: 1.2;
    --sidebar-icon-fill-color: #5eb5f7;
    --sidebar-icon-stroke-color: #8c9dae;
    --sidebar-unread-bubble-color: red;

    --recent-contact-header-bg-color: #17212b;
    --recent-contact-header-search-bg-color: #242f3d;
    --recent-contact-list-bg-color: #17212b;
    --recent-contact-selected-bg-color: #2b5278;
    --recent-contact-hover-bg-color: #202b36;
    --recent-contact-sys-avatar-color: #3e546a;
    --recent-contact-unread-bubble-important-color: red;
    --recent-contact-unread-bubble-normal-color: #3e546a;
    --recent-contact-unread-bubble-border-color: transparent;

    --chatarea-reply-title-text-color: #89ca78;
    --chatarea-reply-content-text-color: white;
    --chatarea-wallpaper: unset;
    --chatarea-bg-color: #0e1621;
    --chatarea-username-color: #faa357;
    --chatarea-username-text-shadow-color: transparent;
    --chatarea-username-text-shadow-blur: 0;
    --chatarea-header-color: #17212b;
    --chatarea-bubble-color-others: #182533;
    --chatarea-bubble-color-self: #2b5278;
    --chatarea-bubble-margin-bottom: 8px;
    --chatarea-text-color-self: white;
    --chatarea-text-color-others: white;
    --chatarea-link-color: #89ca78;
    --chatarea-at-element-color: #89ca78;
    --chatarea-pic-element-max-height: 50vh;
    --chatarea-pic-element-max-width: 40vw;
    --chatarea-timestamp-bg-color: #192b36;
    --chatarea-notification-bg-color: #242f3d;
    --chatarea-notification-border-color: #3e546a;
    --chatarea-editor-bg-color: #17212b;
    --chatarea-editor-text-color: white;
    --chatarea-editor-placeholder-text-color: #4f5b5e;
    --chatarea-sticker-panel-bg-color: #17212b;

    --group-box-bg-color: #17212b;
}
