{
    "light": {
        "--vip-name-color": {
            "value": "#000000",
            "description": "vip名称颜色",
            "type": "other"
        },
        "--sidebar-bg-color": {
            "value": "#293b4c",
            "description": "左边栏-背景色",
            "type": "sidebar"
        },
        "--sidebar-selected-bg-color": {
            "value": "#17212b",
            "description": "左边栏-选中项背景色",
            "type": "sidebar"
        },
        "--sidebar-width": {
            "value": "65px",
            "description": "左边栏-宽度",
            "component": "input-box",
            "type": "sidebar"
        },
        "--sidebar-zoom": {
            "value": "1.2",
            "description": "左边栏-缩放",
            "component": "input-box",
            "type": "sidebar"
        },
        "--sidebar-icon-fill-color": {
            "value": "#5eb7f7",
            "description": "左边栏-icon填充色",
            "type": "sidebar"
        },
        "--sidebar-icon-stroke-color": {
            "value": "#8c9dae",
            "description": "左边栏-icon线条色",
            "type": "sidebar"
        },
        "--sidebar-unread-bubble-color": {
            "value": "#FF0000",
            "description": "左边栏-未读提示气泡颜色",
            "type": "sidebar"
        },
        "--recent-contact-header-bg-color": {
            "value": "#FFFFFF",
            "description": "列表栏-header背景色",
            "type": "recent-contact"
        },
        "--recent-contact-header-search-bg-color": {
            "value": "#f1f1f1",
            "description": "列表栏-搜索框颜色",
            "type": "recent-contact"
        },
        "--recent-contact-list-bg-color": {
            "value": "#FFFFFF",
            "description": "列表栏-背景色",
            "type": "recent-contact"
        },
        "--recent-contact-hover-bg-color": {
            "value": "#f1f1f1",
            "description": "列表栏-hover色",
            "type": "recent-contact"
        },
        "--recent-contact-sys-avatar-color": {
            "value": "#5fbe67",
            "description": "列表栏-群助手和我的手机头像颜色",
            "type": "recent-contact"
        },
        "--recent-contact-selected-bg-color": {
            "value": "#41a1d9",
            "description": "列表栏-选中后颜色",
            "type": "recent-contact"
        },
        "--recent-contact-unread-bubble-important-color": {
            "value": "#FF0000",
            "description": "列表栏-重要消息提示颜色",
            "type": "recent-contact"
        },
        "--recent-contact-unread-bubble-normal-color": {
            "value": "#bbbbbb",
            "description": "列表栏-普通消息提示颜色",
            "type": "recent-contact"
        },
        "--recent-contact-unread-bubble-border-color": {
            "value": "#00000000",
            "description": "列表栏-消息提示边缘颜色",
            "type": "recent-contact"
        },
        "--chatarea-reply-title-text-color": {
            "value": "#5fbe67",
            "description": "聊天栏-回复引用消息用户名等颜色",
            "type": "chatarea"
        },
        "--chatarea-reply-content-text-color": {
            "value": "#808080",
            "description": "聊天栏-回复引用消息文字颜色",
            "type": "chatarea"
        },
        "--chatarea-wallpaper": {
            "value": "unset",
            "description": "聊天栏-壁纸",
            "component": "image-selector",
            "type": "special"
        },
        "--chatarea-bg-color": {
            "value": "#7ec4ea",
            "description": "聊天栏-背景颜色（已失效）",
            "type": "chatarea"
        },
        "--chatarea-username-color": {
            "value": "#FFFFFF",
            "description": "聊天栏-对方用户名颜色",
            "type": "chatarea"
        },
        "--chatarea-username-text-shadow-color": {
            "value": "#0000008F",
            "description": "聊天栏-对方用户名底部阴影颜色",
            "type": "chatarea"
        },
        "--chatarea-username-text-shadow-blur": {
            "value": "5px",
            "description": "聊天栏-对方用户名底部阴影模糊尺寸",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-bubble-margin-bottom": {
            "value": "16px",
            "description": "聊天栏-气泡之间上下间距",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-header-color": {
            "value": "#FFFFFF",
            "description": "聊天栏-header背景色",
            "type": "chatarea"
        },
        "--chatarea-bubble-color-others": {
            "value": "#FFFFFF",
            "description": "聊天栏-对方气泡背景色",
            "type": "important"
        },
        "--chatarea-bubble-color-self": {
            "value": "#effdde",
            "description": "聊天栏-自己气泡背景色",
            "type": "important"
        },
        "--chatarea-text-color-self": {
            "value": "#000000",
            "description": "聊天栏-对方气泡文字色",
            "type": "important"
        },
        "--chatarea-text-color-others": {
            "value": "#000000",
            "description": "聊天栏-自己气泡文字色",
            "type": "important"
        },
        "--chatarea-link-color": {
            "value": "#168ad0",
            "description": "聊天栏-URL文字色",
            "type": "important"
        },
        "--chatarea-at-element-color": {
            "value": "#5fbe67",
            "description": "聊天栏-@user消息文字色",
            "type": "important"
        },
        "--chatarea-pic-element-max-height": {
            "value": "50vh",
            "description": "聊天栏-图片高度限制（已失效）",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-pic-element-max-width": {
            "value": "40vw",
            "description": "聊天栏-图片宽度限制（已失效）",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-timestamp-bg-color": {
            "value": "#00000033",
            "description": "聊天栏-时间、撤回提示背景色",
            "type": "chatarea"
        },
        "--chatarea-notification-bg-color": {
            "value": "#FFFFFF",
            "description": "聊天栏-notification背景色（新旧消息箭头）",
            "type": "chatarea"
        },
        "--chatarea-notification-border-color": {
            "value": "#FFFFFF",
            "description": "聊天栏-notification边缘色",
            "type": "chatarea"
        },
        "--chatarea-editor-bg-color": {
            "value": "#FFFFFF",
            "description": "文字输入区域背景色",
            "type": "important"
        },
        "--chatarea-editor-text-color": {
            "value": "#000000",
            "description": "文字输入区域文字色",
            "type": "important"
        },
        "--chatarea-editor-placeholder-text-color": {
            "value": "#999999ff",
            "description": "文字输入区域placeholder文字色",
            "type": "chatarea"
        },
        "--chatarea-sticker-panel-bg-color": {
            "value": "#FFFFFF",
            "description": "表情工具栏背景色",
            "type": "chatarea"
        },
        "--chatarea-forward-msg-bg-color": {
            "value": "#FFFFFF",
            "description": "转发聊天记录背景色",
            "type": "chatarea"
        },
        "--group-box-bg-color": {
            "value": "#FFFFFF",
            "description": "群成员列表背景色",
            "type": "other"
        }
    },
    "dark": {
        "--vip-name-color": {
            "value": "#FFFFFF",
            "description": "vip名称颜色",
            "type": "other"
        },
        "--sidebar-bg-color": {
            "value": "#0e1621",
            "description": "左边栏-背景色",
            "type": "sidebar"
        },
        "--sidebar-selected-bg-color": {
            "value": "#17212b",
            "description": "左边栏-选中项背景色",
            "type": "sidebar"
        },
        "--sidebar-width": {
            "value": "65px",
            "description": "左边栏-宽度",
            "component": "input-box",
            "type": "sidebar"
        },
        "--sidebar-zoom": {
            "value": "1.2",
            "description": "左边栏-缩放",
            "component": "input-box",
            "type": "sidebar"
        },
        "--sidebar-icon-fill-color": {
            "value": "#5eb5f7",
            "description": "左边栏-icon填充色",
            "type": "sidebar"
        },
        "--sidebar-icon-stroke-color": {
            "value": "#8c9dae",
            "description": "左边栏-icon线条色",
            "type": "sidebar"
        },
        "--sidebar-unread-bubble-color": {
            "value": "#FF0000",
            "description": "左边栏-未读提示气泡颜色",
            "type": "sidebar"
        },
        "--recent-contact-header-bg-color": {
            "value": "#17212b",
            "description": "列表栏-header背景色",
            "type": "recent-contact"
        },
        "--recent-contact-header-search-bg-color": {
            "value": "#242f3d",
            "description": "列表栏-搜索框颜色",
            "type": "recent-contact"
        },
        "--recent-contact-list-bg-color": {
            "value": "#17212b",
            "description": "列表栏-背景色",
            "type": "recent-contact"
        },
        "--recent-contact-hover-bg-color": {
            "value": "#202b36",
            "description": "列表栏-hover色",
            "type": "recent-contact"
        },
        "--recent-contact-sys-avatar-color": {
            "value": "#3e546a",
            "description": "列表栏-群助手和我的手机头像颜色",
            "type": "recent-contact"
        },
        "--recent-contact-selected-bg-color": {
            "value": "#2b5278",
            "description": "列表栏-选中后颜色",
            "type": "recent-contact"
        },
        "--recent-contact-unread-bubble-important-color": {
            "value": "#FF0000",
            "description": "列表栏-重要消息提示颜色",
            "type": "recent-contact"
        },
        "--recent-contact-unread-bubble-normal-color": {
            "value": "#3e546a",
            "description": "列表栏-普通消息提示颜色",
            "type": "recent-contact"
        },
        "--recent-contact-unread-bubble-border-color": {
            "value": "#00000000",
            "description": "列表栏-消息提示边缘颜色",
            "type": "recent-contact"
        },
        "--chatarea-reply-title-text-color": {
            "value": "#89ca78",
            "description": "聊天栏-回复引用消息用户名等颜色",
            "type": "chatarea"
        },
        "--chatarea-reply-content-text-color": {
            "value": "#FFFFFF",
            "description": "聊天栏-回复引用消息文字颜色",
            "type": "chatarea"
        },
        "--chatarea-wallpaper": {
            "value": "unset",
            "description": "聊天栏-壁纸",
            "component": "image-selector",
            "type": "special"
        },
        "--chatarea-bg-color": {
            "value": "#0e1621",
            "description": "聊天栏-背景颜色（已失效）",
            "type": "chatarea"
        },
        "--chatarea-username-color": {
            "value": "#faa357",
            "description": "聊天栏-对方用户名颜色",
            "type": "important"
        },
        "--chatarea-username-text-shadow-color": {
            "value": "#00000000",
            "description": "聊天栏-对方用户名底部阴影颜色",
            "type": "chatarea"
        },
        "--chatarea-username-text-shadow-blur": {
            "value": "0",
            "description": "聊天栏-对方用户名底部阴影模糊尺寸",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-header-color": {
            "value": "#17212b",
            "description": "聊天栏-header背景色",
            "type": "chatarea"
        },
        "--chatarea-bubble-color-others": {
            "value": "#2b5278",
            "description": "聊天栏-对方气泡背景色",
            "type": "important"
        },
        "--chatarea-bubble-color-self": {
            "value": "#2b5278",
            "description": "聊天栏-自己气泡背景色",
            "type": "important"
        },
        "--chatarea-bubble-margin-bottom": {
            "value": "16px",
            "description": "聊天栏-气泡之间上下间距",
            "component": "input-box",
            "type": "important"
        },
        "--chatarea-text-color-self": {
            "value": "#FFFFFF",
            "description": "聊天栏-自己气泡文字色",
            "type": "important"
        },
        "--chatarea-text-color-others": {
            "value": "#FFFFFF",
            "description": "聊天栏-对方气泡文字色",
            "type": "important"
        },
        "--chatarea-link-color": {
            "value": "#89ca78",
            "description": "聊天栏-URL文字色",
            "type": "important"
        },
        "--chatarea-at-element-color": {
            "value": "#89ca78",
            "description": "聊天栏-@user消息文字色",
            "type": "important"
        },
        "--chatarea-pic-element-max-height": {
            "value": "50vh",
            "description": "聊天栏-图片高度限制（已失效）",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-pic-element-max-width": {
            "value": "40vw",
            "description": "聊天栏-图片宽度限制（已失效）",
            "component": "input-box",
            "type": "chatarea"
        },
        "--chatarea-timestamp-bg-color": {
            "value": "#192b36",
            "description": "聊天栏-时间、撤回提示背景色",
            "type": "chatarea"
        },
        "--chatarea-notification-bg-color": {
            "value": "#242f3d",
            "description": "聊天栏-notification背景色（新旧消息箭头）",
            "type": "chatarea"
        },
        "--chatarea-notification-border-color": {
            "value": "#3e546a",
            "description": "聊天栏-notification边缘色",
            "type": "chatarea"
        },
        "--chatarea-editor-bg-color": {
            "value": "#17212b",
            "description": "文字输入区域背景色",
            "type": "chatarea"
        },
        "--chatarea-editor-text-color": {
            "value": "#FFFFFF",
            "description": "文字输入区域文字色",
            "type": "chatarea"
        },
        "--chatarea-editor-placeholder-text-color": {
            "value": "#4f5b5e",
            "description": "文字输入区域placeholder文字色",
            "type": "chatarea"
        },
        "--chatarea-sticker-panel-bg-color": {
            "value": "#17212b",
            "description": "表情工具栏背景色",
            "type": "chatarea"
        },
        "--chatarea-forward-msg-bg-color": {
            "value": "#2b5278",
            "description": "转发聊天记录背景色",
            "type": "chatarea"
        },
        "--group-box-bg-color": {
            "value": "#17212b",
            "description": "群成员列表背景色",
            "type": "other"
        }
    },
    "version": "0.6.0"
}