@media (prefers-color-scheme: light) {
  :root {
    --vip-name-color: black;
    --sidebar-bg-color: #293b4c;
    --sidebar-width: 65px;
    --sidebar-zoom: 1.2;
    --sidebar-icon-color: #8c9dae;
    --sidebar-unread-bubble-color: red;
    --recent-contact-bg-color: white;
    --recent-contact-selected-bg-color: #41a1d9;
    --recent-contact-unread-bubble-important-color: red;
    --recent-contact-unread-bubble-normal-color: #5eb7f7;
    --chatarea-color-1: #effdde;
    --chatarea-color-2: #5fbe67;
    --chatarea-wallpaper: unset;
    --chatarea-bg-color: white;
    --chatarea-username-color: white;
    --chatarea-header-color: white;
    --chatarea-bubble-color-others: white;
    --chatarea-bubble-color-self: #effdde;
    --chatarea-text-color-self: black;
    --chatarea-text-color-others: black;
    --chatarea-link-color: #168ad0;
    --chatarea-editor-bg-color: white;
    --chatarea-editor-text-color: white;
    --telegram-theme-color: #5eb7f7;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --vip-name-color: black;
    --sidebar-bg-color: #293b4c;
    --sidebar-width: 65px;
    --sidebar-zoom: 1.2;
    --sidebar-icon-color: #8c9dae;
    --sidebar-unread-bubble-color: red;
    --recent-contact-bg-color: white;
    --recent-contact-selected-bg-color: #41a1d9;
    --recent-contact-unread-bubble-important-color: red;
    --recent-contact-unread-bubble-normal-color: #5eb7f7;
    --chatarea-color-1: #effdde;
    --chatarea-color-2: #5fbe67;
    --chatarea-wallpaper: unset;
    --chatarea-bg-color: white;
    --chatarea-username-color: white;
    --chatarea-header-color: white;
    --chatarea-bubble-color-others: white;
    --chatarea-bubble-color-self: #effdde;
    --chatarea-text-color-self: black;
    --chatarea-text-color-others: black;
    --chatarea-link-color: #168ad0;
    --chatarea-editor-bg-color: white;
    --chatarea-editor-text-color: white;
    --telegram-theme-color: #5eb7f7;
  }
}
