@media (prefers-color-scheme: light) {
    $telegram-theme-color: #5eb7f7;
    $sidebar-bg-color: #293b4c;
    $sidebar-width: 65px;
    $sidebar-zoom: 1.2;

    :root {
        --chatarea-wallpaper: unset;
        --telegram-chatarea-bg-color: #bcbcbc;
        --bg_grey_standard: white;
    }

    // 全局颜色
    .tab-container {
        background-color: unset !important;
    }
    // 独立聊天窗口 全局背景色 (影响输入区域颜色)
    .container:has(.aio-independent) {
        --bg_grey_standard: white;
    }

    // 左边栏
    .sidebar,
    .sidebar-nav {
        background-color: $sidebar-bg-color !important;
        width: $sidebar-width !important;
        // 头像
        & .user-avatar-container {
            zoom: $sidebar-zoom;
        }

        & .icon.icon-online.avatar__status {
            zoom: $sidebar-zoom;
            right: 2px !important;
        }

        // 按钮
        & .nav-item {
            height: $sidebar-width !important;
            width: 100% !important;
        }

        // 按钮蒙版
        & .tab-item-mask {
            border-radius: unset !important;
            height: $sidebar-width !important;
            width: $sidebar-width !important;

            &:has( ~ .svg-highlight) {
                background-color: #17212b !important;
                opacity: unset !important;
                z-index: 3;
            }
        }

        // icon
        & .tab-item-img {
            zoom: $sidebar-zoom;
            // icon 颜色
            & svg > path {
                --icon_primary: #8c9dae !important;
            }

            & .tab-item-img-mask {
                background-color: $telegram-theme-color;
            }
        }

        // 新消息提示
        & .q-badge-sub {
            left: 55% !important;
            top: 15% !important;
            zoom: $sidebar-zoom;
            border: 1px #17212b solid !important;

            &.q-badge-num i {
                padding: 1px;
            }

            &.q-badge__red {
                // 提示颜色
                --feedback_error: #5eb7f7;
            }
        }

        // 左下角功能按钮
        & .sidebar__lower {
            //--hover-color: $telegram-theme-color !important;
            & i.q-icon {
                & svg > path,
                & svg > rect {
                    stroke: #8c9dae !important;
                }
            }
        }
    }

    // 联系人列表
    .recent-contact {
        background-color: white;

        // 可调宽度
        width: 300px;
        flex-basis: 300px;

        // 取消置顶色
        --overlay_top: none;
        // hover色
        --overlay_hover: #f1f1f1;
        // 选中对话色
        --global-brand_standard: #41a1d9;

        & .recent-contact-list {
            // 强制覆盖
            #app & .list-item__content {
                padding: 12px 14px !important;
            }

            & .list-item__content {
                // 强制覆盖
                #app & .list-item__avatar .avatar {
                    height: calc(var(--avatar_size_3) * 1.3) !important;
                    width: calc(var(--avatar_size_3) * 1.3) !important;
                    margin-right: 8px;
                }

                & .list-item__info {
                    // 强制覆盖
                    #app & .list-item__title {
                        font-size: .95em !important;
                        font-weight: 600 !important;

                        // 去除会员红名
                        & .main-info.text-ellipsis.vip-name {
                            --svip_red: black;
                        }

                        // 时间
                        & .secondary-info {
                            font-size: .95em !important;
                        }
                    }

                    #app & .list-item__summary {
                        font-size: .93em !important;
                        margin-top: 8px !important;
                    }

                    // 未读消息
                    & .summary-bubble {
                        zoom: 1.3;

                        & .q-icon {
                            --icon_secondary_02: #bbbbbb;
                        }

                        & .q-badge-sub.q-badge-num {
                            --feedback_error: #41a1d9;
                            padding: 3px 5px !important;
                        }

                        & .q-badge-sub.q-badge__grey {
                            background-color: #bbbbbb !important;
                        }
                    }
                }
            }
        }

        // 我的手机和群助手
        & .avatar.avatar-sys {
            &::before {
                background-color: $telegram-theme-color !important;
            }

            & .q-icon {
                z-index: 1;
            }
        }
    }

    // 聊天区域
    .aio,
    .aio.aio-independent {
        & .chat-header {
            background: white !important;

            & .chat-header__title {
                font-size: 1.05em;
                font-weight: 500 !important;
                // vip红名去除
                & .text-ellipsis.vip-name {
                    color: black !important;
                }
            }

            // 工具
            & .func-bar .q-icon {
                --icon_primary: #999999;
            }
        }

        // 对话
        & main.chat-msg-area {
            // 设定telegram背景图 or telegram背景色
            background-image: var(--chatarea-wallpaper) !important;
            background-color: var(--telegram-chatarea-bg-color) !important;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
            background-attachment: fixed;

            // 群聊时间 撤回通知
            & .message__timestamp,
            & .gray-tip-content {
                width: fit-content;
                margin-left: auto !important;
                margin-right: auto !important;
                color: white !important;

                background: rgba(0, 0, 0, 0.17) !important;
                padding: 6px 12px 6px 12px;
                border-radius: 100px !important;

                font-size: 15px !important;
                letter-spacing: 1px;
            }

            // 对话气泡
            & .message {
                padding-bottom: 4px !important;
                // grid display
                & .message-container {

                    // 头像
                    & .avatar-span {
                    }
                }
            }
        }

        // 功能栏
        & .shortcuts {

        }

        & .chat-input-area {
            // 工具栏
            & .shortcuts {
                zoom: .95;
                margin-bottom: 10px;

                // 隐藏效果
                & .func-bar {
                    opacity: 0.2;
                    transition: opacity 0.2s;
                    &:hover {
                        opacity: 1;
                        transition: opacity 0.1s;
                    }
                }
            }

            // 编辑框
            & .msg-input {
                & .qq-editor .ck-content {
                    padding: 2px 20px 2px 20px !important;
                    margin-right: 40px;
                }

                & .ck-content {
                    font-size: 17px !important;
                    // 文字输入框 placeholder
                    & .ck-placeholder:before {
                        --qq-editor-placeholder: "Write a message...";
                        color: rgba(0, 0, 0, 0.3) !important;
                    }
                }

                // 用途未知
                & .loadmore-placeholder {
                    height: 0 !important;
                }
            }

            // 发送和关闭按钮
            & .operation {
                height: unset !important;
                padding: unset !important;

                & .close {
                    // 移除独立窗口关闭按钮
                    display: none !important;
                }

                & .send-btn-wrap {
                    // 移除发送方式按钮
                    & .send-setting__wrapper {
                        display: none !important;
                    }

                    // 固定发送按钮位置, 更换按钮图像, 仿telegram按钮
                    color: transparent !important;
                    width: 30px !important;
                    height: 30px !important;
                    position: absolute !important;
                    bottom: 15px;
                    right: 15px;
                    background-color: unset !important;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjMzNiAzNTMgNjExIDY4MCI+CiAgPHBhdGggZD0iTSA0MDMgNzIwIEMgNDA0IDcxOSA3MzAgNzE3IDczMCA3MDAgQyA3MzAgNjgzIDQwNCA2NzQgNDAyIDY3NCBDIDQwNCA2NzQgMzM2IDM1NSAzMzYgMzUzIEMgMzM5IDM1NiA5NDcgNjgxIDk0NyA3MDMgQyA5NDcgNzI4IDM0MyAxMDM1IDM0NiAxMDMzIFoiIGZpbGw9IiM0MGE3ZTMiLz4KPC9zdmc+");
                    background-repeat: no-repeat;
                    padding: 10px !important;

                    &:hover {

                    }

                    &:has(.send--disabled) {
                        opacity: .3 !important;
                    }

                    & .send {
                        width: inherit !important;
                        height: inherit !important;
                        position: absolute !important;
                        bottom: 15px !important;
                        right: 15px !important;
                        padding: unset !important;

                        & .send-msg {
                            padding: unset !important;
                            color: transparent !important;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & .divider {
                        display: none !important;
                    }
                }
            }

            // 转发操作按钮
            & .forward-ops .op-icon {
                height: unset !important;
                margin: unset !important;
            }
        }
    }
}