@media (prefers-color-scheme: light) {
  :root {
    --chatarea-wallpaper: unset;
    --telegram-chatarea-bg-color: #bcbcbc;
    --bg_grey_standard: white;
  }
  .tab-container {
    background-color: unset !important;
  }
  .container:has(.aio-independent) {
    --bg_grey_standard: white;
  }
  .sidebar,
  .sidebar-nav {
    background-color: #293b4c !important;
    width: 65px !important;
  }
  .sidebar .user-avatar-container,
  .sidebar-nav .user-avatar-container {
    zoom: 1.2;
  }
  .sidebar .icon.icon-online.avatar__status,
  .sidebar-nav .icon.icon-online.avatar__status {
    zoom: 1.2;
    right: 2px !important;
  }
  .sidebar .nav-item,
  .sidebar-nav .nav-item {
    height: 65px !important;
    width: 100% !important;
  }
  .sidebar .tab-item-mask,
  .sidebar-nav .tab-item-mask {
    border-radius: unset !important;
    height: 65px !important;
    width: 65px !important;
  }
  .sidebar .tab-item-mask:has(~ .svg-highlight),
  .sidebar-nav .tab-item-mask:has(~ .svg-highlight) {
    background-color: #17212b !important;
    opacity: unset !important;
    z-index: 3;
  }
  .sidebar .tab-item-img,
  .sidebar-nav .tab-item-img {
    zoom: 1.2;
  }
  .sidebar .tab-item-img svg > path,
  .sidebar-nav .tab-item-img svg > path {
    --icon_primary: #8c9dae !important;
  }
  .sidebar .tab-item-img .tab-item-img-mask,
  .sidebar-nav .tab-item-img .tab-item-img-mask {
    background-color: #5eb7f7;
  }
  .sidebar .q-badge-sub,
  .sidebar-nav .q-badge-sub {
    left: 55% !important;
    top: 15% !important;
    zoom: 1.2;
    border: 1px #17212b solid !important;
  }
  .sidebar .q-badge-sub.q-badge-num i,
  .sidebar-nav .q-badge-sub.q-badge-num i {
    padding: 1px;
  }
  .sidebar .q-badge-sub.q-badge__red,
  .sidebar-nav .q-badge-sub.q-badge__red {
    --feedback_error: #5eb7f7;
  }
  .sidebar .sidebar__lower i.q-icon svg > path, .sidebar .sidebar__lower i.q-icon svg > rect,
  .sidebar-nav .sidebar__lower i.q-icon svg > path,
  .sidebar-nav .sidebar__lower i.q-icon svg > rect {
    stroke: #8c9dae !important;
  }
  .recent-contact {
    background-color: white;
    width: 300px;
    flex-basis: 300px;
    --overlay_top: none;
    --overlay_hover: #f1f1f1;
    --global-brand_standard: #41a1d9;
  }
  #app .recent-contact .recent-contact-list .list-item__content {
    padding: 12px 14px !important;
  }
  #app .recent-contact .recent-contact-list .list-item__content .list-item__avatar .avatar {
    height: calc(var(--avatar_size_3) * 1.3) !important;
    width: calc(var(--avatar_size_3) * 1.3) !important;
    margin-right: 8px;
  }
  #app .recent-contact .recent-contact-list .list-item__content .list-item__info .list-item__title {
    font-size: 0.95em !important;
    font-weight: 600 !important;
  }
  #app .recent-contact .recent-contact-list .list-item__content .list-item__info .list-item__title .main-info.text-ellipsis.vip-name {
    --svip_red: black;
  }
  #app .recent-contact .recent-contact-list .list-item__content .list-item__info .list-item__title .secondary-info {
    font-size: 0.95em !important;
  }
  #app .recent-contact .recent-contact-list .list-item__content .list-item__info .list-item__summary {
    font-size: 0.93em !important;
    margin-top: 8px !important;
  }
  .recent-contact .recent-contact-list .list-item__content .list-item__info .summary-bubble {
    zoom: 1.3;
  }
  .recent-contact .recent-contact-list .list-item__content .list-item__info .summary-bubble .q-icon {
    --icon_secondary_02: #bbbbbb;
  }
  .recent-contact .recent-contact-list .list-item__content .list-item__info .summary-bubble .q-badge-sub.q-badge-num {
    --feedback_error: #41a1d9;
    padding: 3px 5px !important;
  }
  .recent-contact .recent-contact-list .list-item__content .list-item__info .summary-bubble .q-badge-sub.q-badge__grey {
    background-color: #bbbbbb !important;
  }
  .recent-contact .avatar.avatar-sys::before {
    background-color: #5eb7f7 !important;
  }
  .recent-contact .avatar.avatar-sys .q-icon {
    z-index: 1;
  }
  .aio .chat-header,
  .aio.aio-independent .chat-header {
    background: white !important;
  }
  .aio .chat-header .chat-header__title,
  .aio.aio-independent .chat-header .chat-header__title {
    font-size: 1.05em;
    font-weight: 500 !important;
  }
  .aio .chat-header .chat-header__title .text-ellipsis.vip-name,
  .aio.aio-independent .chat-header .chat-header__title .text-ellipsis.vip-name {
    color: black !important;
  }
  .aio .chat-header .func-bar .q-icon,
  .aio.aio-independent .chat-header .func-bar .q-icon {
    --icon_primary: #999999;
  }
  .aio main.chat-msg-area,
  .aio.aio-independent main.chat-msg-area {
    background-image: var(--chatarea-wallpaper) !important;
    background-color: var(--telegram-chatarea-bg-color) !important;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .aio main.chat-msg-area .message__timestamp, .aio main.chat-msg-area .gray-tip-content,
  .aio.aio-independent main.chat-msg-area .message__timestamp,
  .aio.aio-independent main.chat-msg-area .gray-tip-content {
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
    color: white !important;
    background: rgba(0, 0, 0, 0.17) !important;
    padding: 6px 12px 6px 12px;
    border-radius: 100px !important;
    font-size: 15px !important;
    letter-spacing: 1px;
  }
  .aio main.chat-msg-area .message,
  .aio.aio-independent main.chat-msg-area .message {
    padding-bottom: 4px !important;
  }
  .aio .chat-input-area .shortcuts,
  .aio.aio-independent .chat-input-area .shortcuts {
    zoom: 0.95;
    margin-bottom: 10px;
  }
  .aio .chat-input-area .shortcuts .func-bar,
  .aio.aio-independent .chat-input-area .shortcuts .func-bar {
    opacity: 0.2;
    transition: opacity 0.2s;
  }
  .aio .chat-input-area .shortcuts .func-bar:hover,
  .aio.aio-independent .chat-input-area .shortcuts .func-bar:hover {
    opacity: 1;
    transition: opacity 0.1s;
  }
  .aio .chat-input-area .msg-input .qq-editor .ck-content,
  .aio.aio-independent .chat-input-area .msg-input .qq-editor .ck-content {
    padding: 2px 20px 2px 20px !important;
    margin-right: 40px;
  }
  .aio .chat-input-area .msg-input .ck-content,
  .aio.aio-independent .chat-input-area .msg-input .ck-content {
    font-size: 17px !important;
  }
  .aio .chat-input-area .msg-input .ck-content .ck-placeholder:before,
  .aio.aio-independent .chat-input-area .msg-input .ck-content .ck-placeholder:before {
    --qq-editor-placeholder: "Write a message...";
    color: rgba(0, 0, 0, 0.3) !important;
  }
  .aio .chat-input-area .msg-input .loadmore-placeholder,
  .aio.aio-independent .chat-input-area .msg-input .loadmore-placeholder {
    height: 0 !important;
  }
  .aio .chat-input-area .operation,
  .aio.aio-independent .chat-input-area .operation {
    height: unset !important;
    padding: unset !important;
  }
  .aio .chat-input-area .operation .close,
  .aio.aio-independent .chat-input-area .operation .close {
    display: none !important;
  }
  .aio .chat-input-area .operation .send-btn-wrap,
  .aio.aio-independent .chat-input-area .operation .send-btn-wrap {
    color: transparent !important;
    width: 32px !important;
    height: 32px !important;
    position: absolute !important;
    bottom: 16px;
    right: 16px;
    background-color: unset !important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjMzNiAzNTMgNjExIDY4MCI+CiAgPHBhdGggZD0iTSA0MDMgNzIwIEMgNDA0IDcxOSA3MzAgNzE3IDczMCA3MDAgQyA3MzAgNjgzIDQwNCA2NzQgNDAyIDY3NCBDIDQwNCA2NzQgMzM2IDM1NSAzMzYgMzUzIEMgMzM5IDM1NiA5NDcgNjgxIDk0NyA3MDMgQyA5NDcgNzI4IDM0MyAxMDM1IDM0NiAxMDMzIFoiIGZpbGw9IiM0MGE3ZTMiLz4KPC9zdmc+");
    background-repeat: no-repeat;
    padding: 10px !important;
  }
  .aio .chat-input-area .operation .send-btn-wrap .send-setting__wrapper,
  .aio.aio-independent .chat-input-area .operation .send-btn-wrap .send-setting__wrapper {
    display: none !important;
  }
  .aio .chat-input-area .operation .send-btn-wrap:has(.send--disabled),
  .aio.aio-independent .chat-input-area .operation .send-btn-wrap:has(.send--disabled) {
    opacity: 0.3 !important;
  }
  .aio .chat-input-area .operation .send-btn-wrap .send,
  .aio.aio-independent .chat-input-area .operation .send-btn-wrap .send {
    width: inherit !important;
    height: inherit !important;
    position: absolute !important;
    bottom: 15px !important;
    right: 15px !important;
    padding: unset !important;
  }
  .aio .chat-input-area .operation .send-btn-wrap .send .send-msg,
  .aio.aio-independent .chat-input-area .operation .send-btn-wrap .send .send-msg {
    padding: unset !important;
    color: transparent !important;
    width: 100%;
    height: 100%;
  }
  .aio .chat-input-area .operation .send-btn-wrap .divider,
  .aio.aio-independent .chat-input-area .operation .send-btn-wrap .divider {
    display: none !important;
  }
  .aio .chat-input-area .forward-ops .op-icon,
  .aio.aio-independent .chat-input-area .forward-ops .op-icon {
    height: unset !important;
    margin: unset !important;
  }
}
