:root {
    /* 壁纸和背景色 */
    /* url("local:///E:/path/to/image.png") */
    --tg-container-image: url("local:///");
    --tg-container-bg-color: #0E1621;
    --tg-container-backdrop-filter: blur(0px);

    /* 聊天栏 */
    --tg-message-others-username-font-color: #FAA357;
    --tg-message-others-username-font-size: 14px;
    --tg-message-others-bg-color: #182533;
    --tg-message-others-font-color: #ffffff;
    --tg-message-others-font-size: 16px;
    /* highlight用于显示@用户、回复消息、语音消息 */
    --tg-message-others-highlight-color: #62D4E3;
    --tg-message-others-url-color: #70BAF5;
    --tg-message-others-reply-content-font-color: #ffffff;
    --tg-message-others-reply-content-font-size: 14px;
    --tg-message-others-forward-msg-bg-color: #182533;

    --tg-message-self-bg-color: #2B5278;
    --tg-message-self-font-color: #ffffff;
    --tg-message-self-font-size: 16px;
    --tg-message-self-highlight-color: #E35B63;
    --tg-message-self-url-color: #70BAF5;
    --tg-message-self-reply-content-font-color: #ffffff;
    --tg-message-self-reply-content-font-size: 14px;
    --tg-message-self-forward-msg-bg-color: #182533;

    /* 输入框 */
    --tg-chat-input-area-bg-color: #17212B;
    --tg-chat-input-area-font-color: #ffffff;

    /* 聊天栏header */
    --tg-panel-header-bg-color: #17212B;
    --tg-panel-header-title-color: #F5F5F5;

    /* 会话列表 */
    --tg-contact-top-bar-bg-color: #17212B;
    --tg-contact-search-bg-color: #242F3D;
    --tg-contact-list-item-bg-color: #17212B;
    --tg-contact-list-item-top-bg-color: #17212B;
    --tg-contact-list-item-hover-bg-color: #202B36;
    --tg-contact-list-item-selected-bg-color: #2B5278;
    --tg-contact-list-item-selected-title-font-color: #ffffff;
    --tg-contact-list-item-selected-summary-font-color: #ffffff;
    --tg-contact-list-item-unselected-title-font-color: #ffffff;
    --tg-contact-list-item-unselected-summary-font-color: #999999;
    --tg-contact-list-item-avatar-sys-bg-color: #5EB5F7;

    /* 左边栏 */
    --tg-sidebar-width: 65px;
    --tg-sidebar-bg-color: #0E1621;
    --tg-sidebar-avatar-zoom: 1.25;
    --tg-sidebar-nav-item-zoom: 1.2;
    --tg-sidebar-nav-item-selected-bg-color: #25303E;
    --tg-sidebar-nav-item-selected-icon-color: #5EB5F7;
    --tg-sidebar-nav-item-unselected-icon-color: #768C9E;

    /* 右栏 群公告、群成员 */
    --tg-group-box-bg-color: #17212B;

    /* 其他 */
    --tg-vip-name-color: #ffffff;
}